<!DOCTYPE html>
<html lang="en">
myimage.gif?random=1923849839
<meta http-equiv="pragma" content="no-cache" />
 
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="-1" />

<head>
    <title>Predicted Image</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="https://github.com/narendernani5">narendernani5</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Predict Car Body Damage</h3>
        </div>
 
       
        <div class="jumbotron">
		 <div id="image-container">
            <img src="static/images/temp1.png?modified=<? filemtime("static/images/temp1.png")?>"
            </div>
          </div>
 
        <footer class="footer">
            <p>&copy; narender reddy 2020. Using tensorflow, Python and Flask.</p>
        </footer>
 
    </div>
</body>
 
</html>

